.custom-select {
  position: relative;
  display: inline-block;
  
  font-size: 16px;
  width: 100%;
}

.custom-select-trigger {
  background-color: #ffffff;
  border: 1px solid #000000;
  padding: 10px;
  width: 100%;
  cursor: pointer;
  border-radius: 1px;
  text-align: left;
}

.custom-select-trigger:after {
  content: "▼";
  float: right;
}

.custom-options {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: white;
  border: 1px solid #000000;
  border-top-color: transparent;
  position: absolute;
  width: 100%;
  max-height: 150px;
  overflow-y: auto;
  border-radius: 0px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.custom-option {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.custom-option:hover {
  background-color: #f0f0f0;
}

.custom-option.selected {
  background-color: #e0e0e0;
}

.custom-select.open .custom-select-trigger:after {
  content: "▲";
}

.custom-select-trigger:focus {
  outline: none;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}
